<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaEscolar.Properties.Settings.ConnectionString"
            connectionString="Data Source=EJ-DESKTOP;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaEscolar.Properties.Settings.SistemaBibliotecaConnectionString"
            connectionString="Data Source=ej-Desktop;Initial Catalog=SistemaBiblioteca;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>